@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


:root {
    --font-family: "Calistoga", serif;
    --background-color: #999;
    --background-color3: #1F1F1F;
    --background-color2: #141414 ;
    --background-color1: #CF5910;
    --color-bg-input: #2b2b2b;
}



* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
   
}

/* Cabeçalho */

header {
    height: 150px;
    background-color: var(--background-color2);
}

.header-container {
    margin: auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 150px;
}

.header-cont {
    font-family: var(--font-family);
    color: white;
    font-size: 2.3em;
    cursor: pointer;
}

.header-cont img {
    width: 30px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav .links {
    margin-right: 395px;
}

.header-nav .links a {
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.2em;
}

.header-nav .links a:hover {
    color: white;
    transition: 0.4s;
}

.header-pedido {
    cursor: pointer;
    color: var(--background-color);
    margin-right: 10px;
    border: 1px solid #999;
    padding: 17px 30px;
    border-radius: 5px;
}

.header-pedido:hover {
    border: 1px solid white;
    color: white;
    transition: 0.4s;
}

.header-pedido p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

/* Primeira sessão */

.section1 {
    background-color: var(--background-color2);
}

.section1-container {
    margin: auto;
    max-width: 1170px;
    display: flex;    
}

.section1-conteudo {
    width: 650px;
}

.section1-conteudo h1 {
    font-family: var(--font-family);
    color: white;
    font-size: 4.4em;
    font-weight: bold;
    line-height: 80px;
    margin-top: 45px;
}

.section1-conteudo .des{
    color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 1.3em;
}

.section1-buttom {
    background-color: var(--background-color1);
    width: 270px;
    padding:16px;
    border-radius: 10px;
    cursor: pointer;
}

.section1-buttom:hover, .section1-buttom p:hover {
    background-color: #ff6e13;
    color: white;
    transition: 0.3s;
    opacity: 1;
}

.section1-buttom p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}

.section1-img img {
   height: 575px;
}

/* Segunda sessão */

.section2 {
    background-color: var(--background-color3);
}

.section2-container {
    background-color: var(--background-color3);
    margin: auto;
    max-width: 1170px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -75px;
}

.section2-container h1 {
    color: white;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.section2-pesquisas {
    display: flex;
    justify-content: space-between;
}

.section2-pesquisa1, 
.section2-pesquisa2 {
    border: 1px solid var(--color-bg-input);
    background-color: var(--color-bg-input);
    display: flex;
    width: 520px;
    border-radius: 5px;
}

.section2-pesquisa1 img {
    height: 25px;
    margin: auto;
    margin-left: 20px;

}

.section2-pesquisa1 input {
    width: 480px;
    padding: 20px 15px;
    margin-left: px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 0;
    font-size: 1.5em;
}

.section2-pesquisa2 select {
    width: 100%;
    border: 20px solid transparent;
    background-color: var(--color-bg-input);
    color: white;
    font-size: 1.5em;
    outline: none;
}

/* Terceira sessão */

.section3 {
    background-color: var(--background-color2);
}
.section3-container {
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 45px;
    cursor: pointer;
}

.section3-conteudo {
    background-color: var(--color-bg-input);
    border-radius: 10px;
    position: relative;
    opacity: .8;
}

.section3-conteudo:hover {
    transition: 0.4s;
    opacity: 1;
}

.section3-conteudo .pro {
    background-color: var(--background-color1);
    position: absolute;
    width: 130px;
    padding: 15px;
    margin: 25px;
    border-radius: 5px;
}

.section3-conteudo .pro p {
    color: rgb(182, 182, 182);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.section3-conteudo img {
    display: flex;
    margin: auto;
    margin-top: 25px;
}

.section3-des {
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    background-color: var(--background-color3);
    margin-top: -45px;
    padding: 60px 30px 37px;
}

.section3-des p {
    color: var(--background-color);
    font-weight: bold;
    font-size: 1.2em;
}

.section3-des h1 {
    color: var(--background-color);
    font-family: var(--font-family);
    font-size: 2em;
    margin-top: 10px;
}

.section3-des h2 {
    color: var(--background-color1);
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

/* Rodapé  */

footer {
    background-color: var(--background-color3);
    height: 200px;
}

.footer-container {
    margin: auto;
    max-width: 1170px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.footer-container h1 {
    font-family: var(--font-family);
    color: white;
    font-size: 2.4em;
}

.footer-container img {
    width: 30px;
}

.footer-container p {
    color: var(--background-color);
    font-size: 1.5em;
}

.footer-container a {
    text-decoration: none;
    color: #59a5e4;
    margin-left: 10px;
}

.footer-container a:hover {
    text-decoration: underline;
}